<!DOCTYPE html>
<html>
    <head ng-cloak>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blog Home - Start Bootstrap Template</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>
    </head>
    <body ng-app="app" ng-controller="mainCtrl" ng-cloak lang="{{pageLang}}" dir="{{pageDir}}" ng-cloak>
        <!-- Navigation -->
        <div id="navbar" class="navbar-collapse navbar-inverse collapse" ng-cloak>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#" translate>Home page</a>
                </li>
                <li>
                    <a href="#" translate>About us</a>
                </li>
                <li>
                    <a href="#" translate>Contact of somthing</a>
                </li>
                <li class="dropdown">
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" translate>Action</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href ng-click="setBase()">English</a>
                </li>
                <li>
                    <a href ng-click="setLang('ar', 'ar-tn')">عربي</a>
                </li>
                 <li>
                    <a href ng-click="setLang('en_121', 'en-us')">The New Region</a>
                </li>

                <li>
                    <a href ng-click="setLang('fr', 'fr-fr')">French</a>
                </li>
                <li>
                    <a href ng-click="setLang('it', 'it')">Italian</a>
                </li>
                <li>
                    <a href ng-click="setLang('de', 'de-de')">Deutsh</a>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div>{{i18n("page.key", {"0": obj.field})}}</div>
                <h4>Popup</h4>
               <div class="row"  id="picker">
                   <div class="col-md-6">
                       <p class="input-group">
                         <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                         <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="open($event); updateLocale(this);"><i class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                       </p>
                   </div>
               </div>
            </div>
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-12">
                    <h1 class="page-header" translate>Page Heading</h1>
                    <p translate>
                        In this example the translation is not split if there is <b>a variable</b>
                        {{env.myVar}} in between the text
                    </p>
                    <code ng-non-bindable style="display:block">

                        <p translate>
                           in between the text  In this example the translation is not split if there is <b>a variable</b>
                            {{env.myVar}} in between the text
                        </p>
                                VS<br/>

                            {{myText1}} {{env.MyVar}} {{myText2}}

                    </code>

                    <!-- First Blog Post -->
                    <h2>Pluralize example</h2>
                    <p class="lead">
                        <translate>You have access to</translate>
                        <a href translate
                            translate-n="env.registers"
                            translate-plural="{{$count}} proprieties"> 1 Propriety</a>
                    </p>

                    <p class="lead">
                        <translate>You have access to</translate>
                        <a href translate
                            translate-n="env.singleRegister"
                            translate-plural="{{$count}} proprieties"> 1 Propriety</a>
                    </p>

                    <p class="lead">
                        <translate>You have access to</translate>
                        <a href translate
                            translate-n="env.multipleRegister"
                            translate-plural="{{$count}} proprieties"> 1 Propriety</a>
                    </p>
                    <p class="lead">
                        <translate>You have access to</translate>
                        <a href translate
                            translate-n="env.twoRegisters"
                            translate-plural="{{$count}} proprieties"> 1 Propriety</a>
                    </p>
                    <h2 translate>Missing translations detections</h2>
                    <p>This translation is missing</p>
                </div>
            </div>
            <!-- /.row -->
            <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular-route.js"></script>
    <script src="tmhDynamicLocale.js"></script>
    <script src="app.js"></script>
</body>
</html>
